section#js-contact.bottom-links.text-center.text-white
  article.container-fluid.footer
    h3
      | GET IN TOUCH WITH US
    .bottom-links-items.row
      .col-sm-6.col-lg-3
        h4
          img.bottom-links-icon(src='./assets/images/landing/feedback_icon.svg')
          | Feedback
        p.min-height
          | Got some ideas or something nice to say to us?
        a.btn.btn-outline-light(href='mailto:eos-design-system@googlegroups.com')
          | Send us feedback
      .col-sm-6.col-lg-3
        h4
          img.bottom-links-icon(src='./assets/images/landing/forum.svg')
          | Chat on Slack
        p.min-height
          | Ask us questions, give us ideas, propose ideas. Let's chat!
        a.btn.btn-outline-light(href='https://slack.eosdesignsystem.com/', target='_blank')
          | Join Slack channel
      .col-sm-6.col-lg-3
        h4
          img.bottom-links-icon(src='./assets/images/landing/gitlab-min.svg')
          | Repository
        p.min-height
          | Do you want to fork EOS-Icons, contribute, or report an issue?
        .btn-group-footer
          a.btn.btn-outline-light(href='https://gitlab.com/SUSE-UIUX/eos-icons', target='_blank')
            | Repository
          a.btn.btn-outline-light(href='https://gitlab.com/SUSE-UIUX/eos-icons/issues', target='_blank')
            | Issues
      .col-sm-6.col-lg-3
        h4
          img.bottom-links-icon(src='./assets/images/landing/twitter.svg')
          | Twitter
        p.min-height
          | Get the latest news, meet the team, and more.
        a.btn.btn-outline-light(href='https://twitter.com/eosdesignsystem', target='_blank')
          | EOS in Twitter
