/* Buttons
   ========================================================================== */
.extended-version-wrap {
  display: flex;
  margin: 0 0 30px 60px;

  a {
    background: $button-bg;
    border: 1px solid $button-border;
    border-radius: 5px;
    color: $button-text-color;
    padding: 10px 14px;
    text-decoration: none;
  }
}
