/* Landing page components: download-icons-button
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/download-icons-button/download-icons-button.variables.scss */
.download-eos-icons-button {
  align-items: center;
  background: $download-icons-button-bg;
  border: 2px solid white;
  border-radius: 27px 0 0 27px;
  color: $download-icons-button-text-color;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-right: $download-icons-button-padding;
  position: fixed;
  right: -188px;
  top: 70%;
  transition: all 0.5s;
  z-index: 15;

  &:hover {
    background: $download-icons-button-bg-hover;
    color: $download-icons-button-text-color;
    right: 0;
    text-decoration: none;
  }

  .download-icons-logo {
    color: $light-color;
    margin-left: $download-icons-button-logo-margin;
    margin-right: $download-icons-button-logo-margin;
    width: 40px;
  }

  .download-icons-text {
    font-size: $h4-font-size-small;
  }
}

.download-extended-icons-button {
  align-items: center;
  background: $download-icons-button-bg;
  border: 2px solid white;
  border-radius: 27px 0 0 27px;
  color: $download-icons-button-text-color;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-right: $download-icons-button-padding;
  position: fixed;
  right: -225px;
  top: 70%;
  transition: all 0.5s;
  z-index: 15;

  &:hover {
    background: $download-icons-button-bg-hover;
    color: $download-icons-button-text-color;
    right: 0;
    text-decoration: none;
  }

  .download-icons-logo {
    color: $light-color;
    margin-left: $download-icons-button-logo-margin;
    margin-right: $download-icons-button-logo-margin;
    width: 40px;
  }

  .download-icons-text {
    font-size: $h4-font-size-small;
  }
}
